/*global*/
body{
    font-family: cursive; 
    image-rendering: auto;
    border: 20px darkolivegreen;
    background-image: url(./img/ace.jpg);
    color: white;
}




/*header*/
.hdiv{
    text-size-adjust: 40px;
    border: 6px solid black;
}

.h1{
    align-content: center;
    text-align: center;
}

.nav1{
    text-align: center;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    font-size: 20px;
    color: white;
}

.h2{
    text-align: center;
}

/*table*/
.table, tr, th{
    border: 1px solid black;
    text-align: center;
    
}

.tdiv{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    font-size: 20px;
}


.bg-red{
    background-color: red;
}
